.container{
    width: 100% !important;
}

body{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('bg.jpg') center center fixed no-repeat !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}   

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }
  95%{
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  75% {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }
  95%{
    opacity: 1;
  }
}

@media all and (min-width: 1024px){
    body::before{
        border-left: solid 15px #7FFFD4;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%; 
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
    }
    .startRadio{
        font-size: 2.3em;
        margin-top: 75px;
    }
}

@media all and (max-width: 1023px){
    body::before{
        border-top: solid 4px #7FFFD4;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease; 
    }
    .radioButton{
        width:600px !important;
        height:600px !important;
        border-radius:300px !important;
        -moz-border-radius:300px !important;
        -webkit-border-radius:300px !important;
    }

    .startRadio{
        font-size: 5.3em;
        margin-top: 25%;
    }
}

#logo img{
    padding-top: 15px;
    width: 100%;
    position: relative;
    display: inherit;
}

.col-centred {
    float: none !important;
    margin: 0 auto;
}

.output{
    width: 100%;
    position: absolute !important;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    overflow:hidden;
}

.output img{
    width: 150px;
    margin: auto;
    position: absolute !important;
    top: 0; left: 0; bottom: 0; right: 0;
}

.radioButton {
    -webkit-animation: zoomIn 1s ease-in;
    animation: zoomIn 1s ease-in;
    text-decoration: none;
    color: #fafafa;
    font-family: sans-serif;
    font-weight: 600;
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    background-color: aquamarine;
    border-radius: 150px;
    display: block;

}

a{
    text-decoration: none !important;
}